.AboutContainer{
    margin-top: 10vh;
animation-name: slidedown;
animation-duration: 1s;
}


@keyframes slidedown {
    0% {
      animation-duration: 1s;
      transform: translate3d(-20%, -100%, 0px );
      
  }
  100% {
    animation-duration: 1s;
    transform: translate3d(0%, 0%, 0px);
  }
  }